version: "3"
services:
  image-gen:
    image: ghcr.io/phazorworks/image-gen:dev
    environment:
      - port=3002
      - fallback=true
      - bradgen=true
      - debug=false
    restart: always
    ports:
      - 3002:3002
    volumes:
      image-gen-cache:/app/cache
